body {
    text-align: right
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
    margin-left: 0 !important
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
text {
    font-family: Tajawal, Roboto
}

a,
a:focus,
a:hover,
a:link,
a:visited {
    outline: 0 !important
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
del,
dfn,
div,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    list-style: none;
    -ms-text-shadow: none;
    text-shadow: none
}

button,
input,
input[type=button],
input[type=reset],
input[type=submit],
select,
textarea {
    font-family: Tajawal, Roboto !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tajawal, Roboto
}

.center {
    text-align: center
}

* {
    padding: 0;
    margin: 0
}

span.fa {
    margin-left: 5px;
    font-family: Font Awesome\ 5 Free !important
}

button {
    cursor: pointer
}

a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: unset
}

p,
ul {
    margin: 0;
    padding: 0
}

.d-inline {
    display: inline-block !important
}

.padding-0 {
    padding: 0 !important
}

.margin-0 {
    margin: 0
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: right !important
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important
}

body.active-BW {
    -webkit-filter: grayscale(100%) brightness(95%) contrast(120%);
    -o-filter: grayscale(100%) brightness(95%) contrast(120%);
    -ms-filter: grayscale(100%) brightness(95%) contrast(120%);
    -moz-filter: grayscale(100%) brightness(95%) contrast(120%);
    filter: grayscale(100%) brightness(95%) contrast(120%)
}

body {
    font-family: Tajawal, Roboto;
    overflow-x: hidden;
    direction: rtl;
    overflow-y: auto
}

.btn.focus,
.btn:focus {
    box-shadow: none !important
}

.main-title {
    font-size: 26px;
    margin: 40px 0;
    color: #1e1c1c;
    text-align: center;
    font-weight: 600
}

@media screen and (min-width:1200px) {
    .main-title {
        font-size: 28px
    }
}

.main-title.align-start {
    text-align: right
}

.main-title.white {
    color: #fff
}

.section-padding {
    padding: 0 0 3rem
}

.container-fluid {
    padding-right: 70px;
    padding-left: 70px
}

@media screen and (max-width:768px) {
    .container-fluid {
        padding-right: 30px !important;
        padding-left: 30px !important
    }
}

header {
    position: relative
}

header .top-header {
    background: url(../../images/footer_bg.webp);
    background-size: cover;
    background-position: 50%
}

header .top-header ul {
    height: 55px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0
}

header .top-header ul li a {
    color: #fff;
    transition: all .3s ease-in-out
}

header .top-header ul li a.dropdown-item {
    color: #777;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #eee
}

header .top-header ul li a.dropdown-item:last-of-type {
    border: 0
}

header .top-header ul li a:hover {
    color: #14bffb
}

header .top-header ul li a.dropdown-toggle {
    display: flex;
    align-items: center
}

header .top-header ul li a.dropdown-toggle img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed #fff;
    margin-left: 10px
}

header .top-header ul li.drop:before {
    top: 6px
}

header .top-header ul li {
    display: inline-block !important;
    margin-left: 25px;
    position: relative
}

header .top-header ul li a i {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px
}

header .top-header ul li:before {
    content: ".";
    color: #a0a0a0;
    left: -13px;
    position: absolute
}

header .top-header ul li:last-of-type {
    margin-left: 0
}

header .top-header ul li:last-of-type:before {
    content: ""
}

header .top-header .logo {
    position: absolute;
    z-index: 2;
    top: 50px
}

header .top-header .logo img {
    width: 165px
}

@media screen and (max-width:767px) {
    header .top-header .logo img {
        width: 100%
    }
}

@media screen and (min-width:1265px) {
    header .top-header .logo {
        right: -160px;
    }
}

@media screen and (max-width:1040px) {
    header .top-header .logo {
        top: 40px
    }
}

@media screen and (max-width:992px) {
    header .top-header .logo {
        top: 34px
    }
}



@media screen and (max-width:1265px) {
    header:before {
        width: 36%
    }
}

@media screen and (max-width:1140px) {
    header:before {
        width: 40%
    }
}

@media screen and (max-width:992px) {
    header:before {
        background: #fd1a51;
        height: 111px
    }
}

header nav {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow: hidden;
    flex-direction: row-reverse !important
}

header nav .navbar-nav {
    margin-right: auto
}
@media (max-width: 1200px){
    .navbar-expand-lg .navbar-nav .nav-link {
         padding-right:0 !important; 
        padding-left: .5rem;
        display: inline-block;
        font-size: 12px !important;
    }
    }

header nav .navbar-toggler {
    margin-right: auto;
    border: 0;
    padding-right: 0;
    padding-left: 0
}

header nav li .dropdown-menu.show {
    top: 100% !important
}

header nav li .dropdown-menu {
    min-width: 15rem !important;
}

header nav li .nav-link {
    color: #565656
}

header nav li a.dropdown-item {
    color: #777;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    transition: all .3s ease-in-out;
    padding: 10px;
}

header nav li a.dropdown-item:hover {
    color: #14bffb
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #777;
    transition: all .3s ease-in-out
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #14bffb
}

.dropdown-toggle:after {
    display: inline-block;
    margin-right: .55em;
    top: 2px;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: relative
}

.dropdown-menu.show {
    top: 5px !important;
    left: 0;
    right: auto;
    float: left
}

.dropdown.lang a {
    display: flex;
    align-content: center
}

.dropdown.lang a img {
    width: 21px;
    margin-left: 5px
}

.dropdown.lang button {
    background: transparent;
    border: 0;
    color: #fff
}

.dropdown.lang button i {
    margin-left: 5px
}

.navbar {
    overflow: visible
}

@media screen and (max-width:992px) {
    .navbar-collapse {
        border-top: 1px dotted #dedede;
        margin-top: 8px
    }

    .navbar-collapse li {
        border-bottom: 1px dotted #dedede
    }

    .dropdown-menu,
    .navbar-collapse li:last-of-type {
        border: 0
    }
}

@media screen and (max-width:567px) {
    body {
        padding-top: 80px
    }

    header:before {
        top: 0;
        width: 100%;
        height: 80px
    }

    header {
        position: static
    }

    header .xs-logo {
        position: absolute;
        width: 175px !important;
        top: 18px !important;
        right: 0;
        left: 0;
        margin: auto
    }
}

.navbar-light .navbar-toggler {
    margin-right: 0
}

.dropdown-menu li a.dropdown-item {
    color: #777;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    transition: all .3s ease-in-out;
    cursor: pointer
}

.dropdown-menu li a.dropdown-item:hover {
    color: #14bffb
}

.dropdown-menu li:last-of-type a {
    border: 0
}

.dropdown-menu ul.sub-dropdown {
    position: absolute;
    background: #fff;
    top: 0;
    left: -240px;
    min-width: 15rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dadada;
    border-radius: .25rem;
    display: none
}

.dropdown-menu ul.sub-dropdown li a {
    color: #777 !important;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    white-space: nowrap;
    background-color: transparent;
    transition: all .3s ease-in-out;
    padding: 10px;
}

.dropdown-menu ul.sub-dropdown li:last-child a {
    border-bottom: none;
}

.dropdown-menu ul.sub-dropdown li a:hover {
    color: #14bffb !important;
    background-color: #f8f9fa
}

@media screen and (min-width:991px) {

    .dropdown-menu li:hover .sub-dropdown,
    .dropdown:hover .dropdown-menu {
        display: block
    }
}

.dropdown-menu {
    margin: 0
}

@media screen and (max-width:992px) {
    ul.sub-dropdown {
        position: static !important;
        display: block !important;
        border: 0 !important;
        margin-right: 30px !important
    }

    ul.sub-dropdown li a {
        padding-right: 0 !important
    }

    ul.sub-dropdown li:last-of-type a {
        border: 0 !important
    }
}

header .top-header .dropdown.notification button {
    border: 0;
    background: transparent;
    color: #fff
}

header .top-header .dropdown.notification ul {
    display: block;
    height: 315px;
    width: 280px;
    overflow-Y: scroll
}

header .top-header .dropdown.notification ul li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    position: static;
    max-width: 100%;
    margin-left: 0
}

header .top-header .dropdown.notification ul li:before {
    display: none
}

header .top-header .dropdown.notification ul li a {
    display: flex;
    white-space: normal
}

header .top-header .dropdown.notification ul li a img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    -o-object-fit: cover;
    object-fit: cover
}

header .top-header .dropdown.notification ul li a .info p {
    height: 38px;
    overflow: hidden;
    font-size: 13px
}

header .top-header .dropdown.notification ul li a .info span {
    font-size: 13px;
    color: #14bffb;
    width: 100%;
    display: block
}

header .top-header .dropdown.notification ul li:last-of-type {
    padding: 0
}

header .top-header .dropdown.notification ul li:last-of-type a {
    color: #fff;
    font-size: 14px;
    height: 35px;
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    background: #777;
    line-height: 35px;
    transition: all .3s ease-in-out
}

header .top-header .dropdown.notification ul li:last-of-type a:hover {
    background: #14bffb
}

.num {
    position: absolute;
    top: -2px;
    right: 8px;
    background: #fd1a51;
    color: #fff;
    width: 13px;
    height: 13px;
    line-height: 13px;
    border-radius: 50px;
    font-size: 11px
}

body {
    font-size: 14px
}

.pink-btn {
    padding: 6px 20px;
    background: #fd1a51;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #fd1a51;
    transition: all .3s ease-in-out
}

.pink-btn:hover {
    background: #14bffb;
    border: 1px solid #14bffb
}

.pink-btn:hover a {
    color: #fff !important
}

.outlined-btn {
    padding: 6px 20px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #fff;
    transition: all .3s ease-in-out
}

.outlined-btn:hover {
    background: #14bffb;
    border: 1px solid #14bffb
}

.outlined-btn:hover a {
    color: #fff !important
}

.title {
    display: flex;
    margin-bottom: 25px
}

.title h2 {
    color: #565656;
    margin-top: -10px;
    margin-right: 10px;
    font-weight: 700
}

.title h3 {
    color: #fd1a51;
    margin-bottom: 10px;
    font-weight: 700
}

.slick-dots li {
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0
}

.slick-dots li button:before {
    content: ""
}

.slick-dots li.slick-active {
    background: #14bffb
}

.breadcrumb {
    margin-bottom: 0;
    margin-top: 10px;
    background: transparent;
    position: relative;
    padding: 0;
    font-size: 16px
}

.breadcrumb .breadcrumb-item a {
    color: #fff
}

.breadcrumb .breadcrumb-item.active {
    color: #14bffb;
    padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item:before {
    padding-left: .5rem;
    color: #fff;
    content: "\f105";
    content: "\f104";
    font-family: Font Awesome\ 5 Free;
    font-weight: 700
}

.sidebar .side-ques {
    background: url(../../images/victor-freitas-WvDYdXDzkhs-unsplash.jpg);
    position: relative;
    width: 100%;
    height: 250px;
    background-size: cover;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px
}

.sidebar .side-ques:before {
    position: absolute;
    content: "";
    background: rgba(253, 26, 81, .8);
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

.sidebar .side-ques * {
    position: relative;
    color: #fff;
    font-size: 16px
}

.sidebar .side-ques h4 {
    font-size: 30px
}

.sidebar .side-ques h4 i {
    font-size: 32px;
    margin-left: 10px
}

.sidebar .top-related {
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee
}

.sidebar .top-related .header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}

.sidebar .top-related .header img {
    margin-left: 4px
}

.sidebar .top-related .top-related-list li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex
}

.sidebar .top-related .top-related-list li .img {
    width: 85px
}

.sidebar .top-related .top-related-list li .img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.sidebar .top-related .top-related-list li .info {
    margin-right: 10px;
    width: calc(100% - 90px)
}

.sidebar .top-related .top-related-list li .info h6 {
    color: #565656;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .3s ease-in-out
}

.sidebar .top-related .top-related-list li .info h6:hover {
    color: #14bffb
}

.sidebar .top-related .top-related-list li .info span {
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sidebar .profile-sidebar {
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
    padding: 20px
}

.sidebar .profile-sidebar img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    display: block;
    margin: auto auto 20px
}

.sidebar .profile-sidebar h5 {
    text-align: center;
    margin-bottom: 15px;
    color: #fd1a51;
    font-weight: 700
}

.sidebar .profile-sidebar ul {
    border-top: 1px dashed #e2e2e2;
    padding-top: 15px
}

.sidebar .profile-sidebar ul li {
    border-bottom: 1px dashed #e2e2e2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px
}

.sidebar .profile-sidebar ul li:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.sidebar .profile-sidebar ul li label {
    font-weight: 700;
    color: #565656
}

.sidebar .profile-sidebar ul li .rating i {
    color: #bbb
}

.sidebar .profile-sidebar ul li .rating i.filled {
    color: #daa520
}

ul.pagination {
    margin-top: 15px
}

ul.pagination .page-link {
    transition: all .3s ease-in-out
}

ul.pagination .page-link:hover {
    color: #fff
}

ul.pagination .page-item.active .page-link,
ul.pagination .page-link:hover {
    background: #14bffb;
    border-color: #14bffb
}

.search-bar {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
    position: relative
}

.search-bar input {
    border: 1px solid #e2e2e2;
    font-size: 14px
}

.search-bar button {
    position: absolute;
    background: transparent;
    border: 0;
    top: 10px;
    left: 10px;
    color: #777;
    font-size: 13px
}

.slick-next {
    right: 20px;
    z-index: 1;
    width: 25px;
    height: 25px
}

.slick-next:before {
    opacity: 1;
    font-size: 25px;
    color: #fbfbfb
}

.slick-prev {
    left: 20px;
    z-index: 1;
    width: 25px;
    height: 25px
}

.slick-prev:before {
    opacity: 1;
    font-size: 25px;
    color: #fbfbfb
}

textarea {
    font-size: 14px;
    background: #fafafa;
    height: 80px;
    border-radius: 0
}

.fileUpload {
    position: relative;
    overflow: hidden
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}

.btn--browse {
    position: absolute;
    left: 0;
    border-right: 1px solid #ced4da;
    color: #777;
    height: 38px;
    top: 0;
    width: 38px;
    text-align: center;
    line-height: 38px
}

.f-input {
    height: 38px;
    border: 1px solid #ced4da;
    width: 100%;
    text-indent: 10px;
    font-size: 14px;
    background: #fafafa
}

.rating-box {
    display: inline-block
}

.rating-box .rating-container {
    direction: ltr
}

.rating-box .rating-container label {
    display: inline-block;
    margin: 5px 0;
    color: #bbb;
    cursor: pointer;
    font-size: 14px;
    transition: color .2s
}

.rating-box .rating-container input {
    display: none
}

.rating-box .rating-container input:checked~label,
.rating-box .rating-container label:hover,
.rating-box .rating-container label:hover~label {
    color: #daa520
}

.rating i {
    font-size: 12px;
    color: #bbb
}

.rating i.filled {
    color: #daa520
}

.attached {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px
}

.attached span {
    display: block;
    text-decoration: underline;
    color: #777
}

.attached a {
    display: inline-block
}

.attached a img {
    width: 100px !important;
    height: 100px !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0 !important;
    margin: 10px 0 0 !important
}

.attached audio {
    margin-top: 15px;
    display: block
}

section.notification {
    padding: 50px 0 0
}

section.notification a {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #eee
}

section.notification a img {
    width: 120px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 15px
}

section.notification a p {
    font-size: 16px;
    color: #565656;
    font-weight: 600;
    margin-bottom: 10px
}

section.notification a span {
    color: #fd1a51
}

section.notification a span i {
    margin-left: 5px
}

section.notification li:nth-child(odd) a {
    background: #fafafa
}

.banner {
    background: url(../../images/meghan-holmes-buWcS7G1_28-unsplash.jpg);
    background-size: cover;
    background-position: 50%;
    height: calc(100vh - 103px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.banner.inner-account-header {
    background-image: url(../../images/banner.jpg)
}

.banner.inner-about-header {
    background-image: url(../../images/victor-freitas-WvDYdXDzkhs-unsplash.jpg)
}

.banner.inner-categ-header {
    background-image: url(../../images/boxed-water-is-better-bTj_y8CDXpQ-unsplash.jpg)
}

.banner.inner-details-header {
    background-image: url(../../images/man-holding-black-barbell-703012.jpg)
}

.banner.inner-list-header {
    background-image: url(../../images/an-on-treadmill-1954524.jpg)
}

.banner.inner-header {
    height: 200px;
    flex-direction: column;
    border-bottom: 2px solid #fd1a51
}

.banner.inner-header h1 {
    color: #fff;
    position: relative;
    z-index: 1
}

.banner:before {
    background-image: url(../../images/dot.png);
    background-color: #333;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .4
}

.banner .caption {
    color: #fff;
    z-index: 1;
    max-width: 700px;
    padding: 20px
}

.banner .caption h2 {
    margin-bottom: 20px;
    font-weight: 700
}

@media screen and (max-width:450px) {
    .banner .caption h2 {
        font-size: 28px
    }
}

.banner .caption h2 img {
    position: relative;
    top: 8px;
    margin-left: 7px
}

.banner .caption p {
    font-size: 18px
}

@media screen and (max-width:450px) {
    .banner .caption p {
        font-size: 15px
    }
}

.banner .caption .buttons {
    margin-top: 15px
}

.banner .caption .buttons a:last-of-type {
    margin-right: 10px
}

.about {
    padding: 60px 0
}

.about h5 {
    color: #565656;
    margin-bottom: 15px
}

.about h5 span {
    color: #14bffb;
    font-size: 24px;
    font-weight: 700;
    display: inline-block
}

.about h5 span i {
    transform: rotateY(180deg);
    margin-right: 4px;
    color: #e91e63
}

.about p {
    color: #777;
    font-size: 15px;
    max-width: 550px;
    line-height: 26px
}

@media screen and (max-width:992px) {
    .about p {
        max-width: unset
    }
}

.about .pink-btn {
    margin-top: 10px;
    color: #fff !important;
    font-size: 14px
}

.about .img-cont {
    position: relative
}

.about .img-cont.inner-about {
    height: 450px
}

.about .img-cont.inner-about img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media screen and (max-width:992px) {
    .about .img-cont {
        margin-top: 45px
    }
}

.about .img-cont:before {
    border: 2px solid #fd1a51;
    top: 10px;
    left: 13px;
    z-index: -1
}

.about .img-cont:after,
.about .img-cont:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ""
}

.about .img-cont:after {
    border: 2px solid #14bffb;
    top: -12px;
    left: -12px
}

.categories {
    display: flex
}

@media screen and (max-width:992px) {
    .categories {
        flex-wrap: wrap
    }
}

@media screen and (max-width:567px) {
    .categories {
        flex-direction: column
    }
}

.categories .category {
    padding: 30px 20px;
    color: #efefef;
    height: 100%;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative
}

@media screen and (max-width:992px) {
    .categories .category {
        width: 50%
    }
}

@media screen and (max-width:567px) {
    .categories .category {
        width: 100%
    }
}

.categories .category:before {
    position: absolute;
    content: "";
    background: rgba(16, 16, 16, .2);
    width: 100%;
    height: 100%;
    right: 0;
    left: 0
}

.categories .category * {
    position: relative
}

.categories .category:first-child {
    background: #787878
}

.categories .category:nth-child(2) {
    background: #fd1a51
}

.categories .category:nth-child(3) {
    background: #d61443
}

.categories .category:nth-child(4) {
    background: #fb3968
}

.categories .category h5 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 17px
}

.categories .category img {
    width: 60px;
    margin: auto auto 15px
}

.categories .category a {
    display: block;
    margin-top: 15px;
    color: #fff !important;
    font-weight: 600
}

.aricles {
    padding: 60px 0;
    background: #fbfbfb
}

.aricles .article {
    padding: 0 5px;
    position: relative;
    transition: all .3s ease-in-out;
    top: 0
}

.aricles .article .img-cont {
    overflow: hidden;
    position: relative;
    height: 220px;
    border-bottom: 3px solid #fd1a51;
    border-top: 1px solid #eee
}

.aricles .article .img-cont i {
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 30px;
    color: #fbfbfb;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.aricles .article .img-cont i.bookmarked {
    color: #fd1a51;
    transition: all .3s ease-in-out
}

.aricles .article .img-cont:before {
    position: absolute;
    content: "";
    background: rgba(51, 51, 51, .3);
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out
}

.aricles .article .img-cont img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.aricles .article .img-cont label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background: #14bffb;
    font-weight: 700;
    padding: 3px 6px;
    font-size: 13px
}

.aricles .article .info-cont {
    padding: 15px 20px;
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 0 8px #eee;
    background: #fff
}

.aricles .article .info-cont h6 {
    color: #565656;
    font-weight: 700;
    font-size: 19px;
    margin-top: 13px
}

.aricles .article .info-cont p {
    color: #565656;
    font-size: 15px;
    height: 90px;
    overflow: hidden
}

.aricles .article .info-cont>span {
    color: #777;
    font-size: 15px
}

.aricles .article .info-cont>span i {
    margin-left: 1px;
    color: #fd1a51;
    font-size: 17px
}

.aricles .article .info-cont>span.lecturer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0
}

.aricles .article .info-cont>span.lecturer img {
    width: 45px;
    height: 45px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    border-radius: 50%;
    border: 1px solid #eee;
    display: inline-block;
    margin-left: 10px
}

.aricles .article .info-cont .info {
    margin-bottom: 13px
}

.aricles .article .info-cont .info span {
    margin-left: 14px;
    font-size: 12px;
    color: #777;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0
}

.aricles .article .info-cont .info span.now {
    color: #fd1a51;
    font-size: 13px
}

.aricles .article .info-cont .info span i {
    margin-left: 4px;
    font-size: 12px
}

.aricles .article .info-cont .artcle-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

.aricles .article .info-cont .artcle-footer a {
    color: #fd1a51;
    font-weight: 600;
    transition: all .3s ease-in-out
}

.aricles .article .info-cont .artcle-footer a:hover {
    color: #14bffb
}

.aricles .article .info-cont .artcle-footer .rating i {
    font-size: 12px;
    color: #bbb
}

.aricles .article .info-cont .artcle-footer .rating i.filled {
    color: #daa520
}

.aricles .article:hover {
    top: -5px;
    box-shadow: 3px 3px 3px #e2e2e2
}

.aricles .article:hover .img-cont:before {
    background: rgba(51, 51, 51, .1)
}

.aricles.inner-articles .article {
    margin-bottom: 15px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto
}

.slick-next {
    left: 20px;
    right: auto
}

.slick-next,
.slick-prev {
    transform: rotate(180deg)
}

.slick-prev {
    right: 20px;
    left: auto
}

.questions {
    background-image: url(../../images/img3-1.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.questions .overlay {
    position: relative;
    background: url(../../images/overlay.png);
    padding: 50px 0;
    background-position: 50%
}

@media screen and (max-width:767px) {
    .questions .overlay {
        background: rgba(253, 26, 81, .6)
    }
}

.questions .overlay .content {
    color: #fff;
    display: flex
}

@media screen and (max-width:767px) {
    .questions .overlay .content {
        flex-direction: column
    }
}

.questions .overlay .content .add-ques {
    width: 50%;
    padding: 40px 50px
}

@media screen and (max-width:992px) {
    .questions .overlay .content .add-ques {
        padding: 40px
    }
}

@media screen and (max-width:767px) {
    .questions .overlay .content .add-ques {
        width: 100%
    }
}

.questions .overlay .content .add-ques a {
    display: inline-block;
    float: right
}

.questions .overlay .content .read-ques {
    width: 50%;
    padding: 40px 50px
}

@media screen and (max-width:992px) {
    .questions .overlay .content .read-ques {
        padding: 40px
    }
}

@media screen and (max-width:767px) {
    .questions .overlay .content .read-ques {
        width: 100%;
        border-bottom: 2px dashed #fff
    }
}

.questions .overlay .content .read-ques a {
    margin-right: auto;
    display: inline-block;
    float: left
}

.questions .overlay .content h1 {
    margin-bottom: 10px;
    line-height: unset
}

@media screen and (max-width:992px) {
    .questions .overlay .content h1 {
        font-size: 32px
    }
}

.questions .overlay .content h1 i {
    margin-left: 12px;
    font-size: 44px;
    position: relative;
    top: -10px;
    border: 2px dashed #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    line-height: 68px
}

@media screen and (max-width:992px) {
    .questions .overlay .content h1 i {
        font-size: 38px;
        width: 60px;
        height: 60px;
        line-height: 56px
    }
}

.questions .overlay .content p {
    font-size: 16px;
    margin-bottom: 15px;
    height: 73px;
    overflow: hidden
}

.question {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
    position: relative
}

.question input,
.question select,
.question textarea {
    border: 1px solid #ced4da;
    background: #fafafa;
    border-radius: .25rem;
    font-size: 14px
}

.question textarea {
    height: 100px
}

.question i.fa-bookmark {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 30px;
    color: #dedede;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.question i.fa-bookmark.bookmarked {
    color: #fd1a51
}

.question h6 {
    color: #565656;
    max-width: 95%;
    font-weight: 600;
    line-height: 23px
}

.question p {
    margin-top: 20px;
    float: right;
    font-size: 14px
}

.question p,
.question p span {
    color: #777;
    display: inline-block
}

.question p span {
    margin-left: 15px;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0
}

.question p span i {
    margin-left: 4px;
    color: #fd1a51
}

.question .dropdown {
    margin-top: 20px
}

.question .rating {
    display: inline-block;
    float: left;
    margin-top: 20px
}

.question .rating i {
    font-size: 13px;
    color: #bbb
}

.question .rating i.filled {
    color: #daa520
}

.question .dropdown a i {
    color: #fd1a51
}

.question .dropdown a:after {
    margin-right: 3px;
    color: #777
}

.question .dropdown-menu {
    text-align: right;
    font-size: 14px;
    color: #565656;
    padding: 0
}

.question .dropdown-menu a {
    border-bottom: 1px solid #eee
}

.answer {
    background: #fff;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee
}

.answer p {
    color: #777;
    font-size: 15px
}

.answer h6 {
    color: #565656;
    margin-bottom: 15px
}

.adding-ques .title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px
}

.adding-ques .title h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px
}

.adding-ques label {
    font-weight: 700;
    color: #565656;
    margin-bottom: 5px
}

.adding-ques .custom-control .custom-control-label:after,
.adding-ques .custom-control .custom-control-label:before {
    top: 3px
}

.adding-ques button {
    width: 150px;
    margin-top: 10px
}

.modal .modal-header {
    padding: 10px 1rem
}

.modal .modal-header h6 {
    font-weight: 700;
    color: #fd1a51
}

.modal label {
    color: #565656;
    margin-left: 10px
}

.modal .modal-header .close {
    margin-right: auto;
    margin-left: 0;
    padding: 15px 0
}

.modal textarea {
    font-size: 14px
}

.modal .modal-footer {
    justify-content: center;
    padding-top: 0;
    border-top: 0
}

.modal .modal-footer button {
    width: 120px
}

.voice-container {
    display: flex;
    flex-direction: column
}

.voice-container #player {
    display: none
}

.voice-container span {
    margin: 0;
    font-size: 13px;
    color: red;
    font-weight: 600
}

.voice-container button#start {
    background: #fd1a51;
    color: #fff;
    border: 0;
    padding: 6px 12px;
    width: auto
}

.voice-container button#stop {
    color: #565656;
    background: #f1f3f4;
    padding: 6px 12px;
    border: 1px solid #e2e2e2
}

.bundles {
    padding: 60px 0
}

.bundles .bundle {
    border: 2px solid #8e8e8e;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 8px #e6e6e6;
    position: relative;
    transition: all .3s ease-in-out;
    top: 0
}

@media screen and (max-width:768px) {
    .bundles .bundle {
        margin-bottom: 35px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto
    }
}

.bundles .bundle.active {
    transform: scale(1.05);
    box-shadow: 0 0 8px #999
}

.bundles .bundle:hover {
    top: -5px
}

.bundles .bundle .bundle-img {
    border: 2px solid #8e8e8e;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: -63px auto auto;
    background: #fff
}

.bundles .bundle .bundle-img img {
    width: 55px;
    margin-top: 7px
}

.bundles .bundle h4 {
    margin-top: 13px;
    color: #fd1a51;
    font-weight: 700;
    margin-bottom: 8px
}

.bundles .bundle ul {
    margin-bottom: 15px
}

.bundles .bundle ul li {
    font-size: 16px;
    margin-bottom: 3px;
    color: #777
}

.bundles .bundle ul li span {
    font-weight: 700
}

.bundles .bundle ul li span.price {
    color: #14bffb
}

.bundles .pink-btn {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 140px
}

.lecturers {
    padding: 60px 50px;
    background-image: url(../../images/img3-1.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.lecturers:before {
    position: absolute;
    content: "";
    background: rgba(51, 51, 51, .7);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

.lecturers .lecturer {
    margin: 0 5px;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    max-width: 320px
}

.lecturers .lecturer h6 {
    margin: 10px 0 5px
}

.lecturers .lecturer .rating i {
    color: #e6e6e6;
    font-size: 12px
}

.lecturers .lecturer .rating i.filled {
    color: #daa520
}

.lecturers .lecturer .img {
    border: 2px dashed #fff;
    padding: 1px;
    height: 280px
}

.lecturers .lecturer .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.lecturers .lecturer .img:after {
    bottom: -2px;
    right: -2px
}

.lecturers .lecturer .img:after,
.lecturers .lecturer .img:before {
    content: "";
    background: #14bffb;
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out
}

.lecturers .lecturer .img:before {
    top: -2px;
    left: -2px;
    z-index: 1
}

.lecturers .lecturer:hover .img:after,
.lecturers .lecturer:hover .img:before {
    width: 65px;
    height: 65px
}

.lecturers.inner-lecturers {
    background: #fff;
    padding: 60px 0
}

.lecturers.inner-lecturers:before {
    display: none
}

.lecturers.inner-lecturers .lecturer {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto
}

.lecturers.inner-lecturers .lecturer img {
    border: 2px dashed #565656
}

.lecturers.inner-lecturers h6 {
    color: #565656
}

.lecturers .title h2 {
    color: #fff
}

.lecturers * {
    z-index: 1;
    position: relative
}

.lecturers .lecturers-row {
    display: flex
}

@media screen and (max-width:992px) {
    .lecturers.main-lecturers .lecturers-row {
        flex-wrap: wrap
    }
}

@media screen and (max-width:550px) {
    .lecturers.main-lecturers .lecturers-row {
        flex-direction: column
    }
}

.lecturers.main-lecturers .lecturers-row a {
    width: 20%
}

@media screen and (max-width:1200px) {
    .lecturers.main-lecturers .lecturers-row a {
        width: 25%
    }

    .lecturers.main-lecturers .lecturers-row a:nth-of-type(5) {
        display: none
    }
}

@media screen and (max-width:992px) {
    .lecturers.main-lecturers .lecturers-row a {
        width: 50%
    }

    .lecturers.main-lecturers .lecturers-row a .lecturer {
        max-width: unset
    }
}

@media screen and (max-width:550px) {
    .lecturers.main-lecturers .lecturers-row a {
        width: 100%
    }
}

.profile-cont {
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
    padding: 20px
}

.profile-cont ul label {
    color: #fd1a51;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px
}

.profile-cont ul.profile-cat li {
    display: inline-block;
    min-width: 20%;
    margin-right: 6px;
    background: #fbfbfb;
    border: 1px solid #f9f9f9;
    padding: 10px;
    color: #565656
}

.profile-cont h5 {
    color: #fd1a51;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.profile-cont ul.profile {
    display: flex;
    flex-wrap: wrap
}

.profile-cont ul.profile li {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 15px
}

@media screen and (max-width:992px) {
    .profile-cont ul.profile li {
        width: 100%
    }
}

@media screen and (max-width:576px) {
    .profile-cont ul.profile li {
        flex-direction: column
    }
}

.profile-cont ul.profile li label {
    width: 115px;
    font-weight: 700;
    color: #fd1a51
}

.profile-cont ul.profile li p {
    width: calc(100% - 115px);
    color: #777
}

.profile-cont ul.profile li span {
    margin-left: 4px
}

.profile-cont ul.profile li span:last-of-type {
    margin: 0
}

.profile-cont p {
    color: #777;
    font-size: 15px
}

.profile-cont span {
    display: block;
    margin-top: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #565656
}

.profile-cont span strong {
    display: inline-block;
    color: #14bffb;
    text-decoration: underline
}

footer {
    background: url(../../images/footer_bg.webp);
    color: #fff;
    padding: 50px 0;
    background-size: cover;
    margin-top: 10px
}

footer .footer-about img {
    margin-bottom: 15px
}

footer .footer-about p {
    font-size: 15px;
    margin-bottom: 15px
}

footer .footer-about i {
    margin-left: 13px;
    color: #14bffb;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    line-height: 37px;
    text-align: center;
    background: #333;
    transition: all .3s ease-in-out
}

footer .footer-about i:hover {
    background: transparent
}

footer .footer-about a:last-of-type i {
    margin: 0
}

footer h5 {
    margin-bottom: 20px
}

footer ul li {
    border-bottom: 1px dashed #333;
    padding-bottom: 8px;
    margin-bottom: 5px
}

footer ul li a {
    color: #fff;
    transition: all .3s ease-in-out
}

footer ul li a:hover {
    color: #14bffb
}

footer input {
    height: 35px
}

footer input,
footer textarea {
    width: 100%;
    background: #333;
    border: 0;
    margin-bottom: 10px;
    text-indent: 10px
}

footer textarea {
    height: 70px
}

footer::-webkit-input-placeholder {
    color: #999
}

footer:-ms-input-placeholder {
    color: #999
}

footer::-moz-placeholder {
    color: #999
}

footer::-ms-input-placeholder {
    color: #999
}

footer::placeholder {
    color: #999
}

footer button {
    width: 100%
}

.copyrights {
    background: url(../../images/footer_bg.webp);
    color: #fff;
    padding: 8px 0;
    background-size: cover;
    border-top: 1px solid #333
}

.copyrights span {
    color: #fd1a51
}

.login {
    display: flex;
    padding: 70px 0;
    justify-content: center;
    background: #fbfbfb
}

.login .form {
    max-width: 420px;
    background: #fff;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee
}

.login .form .input-group-prepend {
    margin-left: -1px
}

.login .form .input-group-prepend .dropdown-menu {
    transform: translate3d(0, 35px, 0) !important;
    top: -3px !important;
    left: auto !important;
    right: 0
}

.login .form .input-group-prepend .dropdown-menu .dropdown-item {
    text-align: right;
    border-bottom: 1px solid #eee;
    padding: 5px
}

.login .form .input-group-prepend .dropdown-menu .dropdown-item:last-of-type {
    border: 0;
    padding-bottom: 0
}

.login .form .input-group-prepend .dropdown-menu .dropdown-item:first-of-type {
    padding-top: 0
}

.login .form .input-group-prepend .dropdown-menu .dropdown-item img {
    position: relative;
    top: 3px
}

.login .form .input-group-prepend button {
    background: #fafafa;
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: #777;
    padding: 0 5px;
    align-items: center;
    display: flex
}

.login .form .input-group-prepend img {
    width: 25px;
    margin-left: 5px;
    position: relative;
    top: 3px
}

.login .form .input-group>.custom-select:not(:first-child),
.login .form .input-group>.form-control:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem
}

.login .form.register-form {
    max-width: 900px;
    margin: auto
}

.login .form.register-form .card {
    background: #fafafa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 20px
}

.login .form.register-form .card .card-header {
    border-radius: 0 !important;
    background: transparent;
    padding: .25rem 0
}

.login .form.register-form .card .card-header .btn-link {
    color: #565656;
    width: 100%;
    text-align: right
}

.login .form.register-form .card .card-header .btn-link i {
    margin-left: 10px;
    font-size: 13px;
    color: #495057
}

.login .form.register-form .card.payment img {
    width: 33px !important;
    margin-left: 10px
}

.login .form.register-form .card.payment .custom-control label {
    font-weight: 700 !important
}

.login .form.register-form .card.payment .custom-control .custom-control-label:after,
.login .form.register-form .card.payment .custom-control .custom-control-label:before {
    top: 5px
}

.login .form.register-form .card.payment input {
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.login .form.register-form .card.payment textarea {
    font-size: 14px;
    height: 38px
}

.login .form.verify-form .verify-input {
    display: flex
}

.login .form.verify-form .verify-input input {
    margin: 0 5px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 5px #ccc;
    outline: none;
    width: 25%;
    transition: all .2s ease-in-out;
    border-radius: 3px
}

.login .form.verify-form .verify-input input:focus {
    border-color: #14bffb;
    box-shadow: inset 0 0 5px #14bffb
}

.login .form.verify-form .verify-input input::-moz-selection {
    background: transparent
}

.login .form.verify-form .verify-input input::selection {
    background: transparent
}

.login .form.verify-form .form-footer {
    text-align: center;
    margin-top: 20px
}

.login .form.verify-form .form-footer a {
    color: #14bffb;
    transition: all .3s ease-in-out
}

.login .form.verify-form .form-footer a:hover {
    color: #fd1a51
}

.login .form input {
    font-size: 14px;
    background: #fafafa
}

.login .form select {
    background: #fafafa
}

.login .form label {
    font-weight: 700;
    color: #565656;
    margin-bottom: 5px
}

.login .form .btn-social,
.login .form .pink-btn {
    font-size: 14px;
    max-width: 378px;
    margin-right: auto;
    margin-left: auto;
    display: block
}

.login .form .btn-social {
    overflow: hidden;
    padding-right: 40px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff !important;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 0
}

.login .form .btn-facebook {
    background-color: #3b5998
}

.login .form .btn-facebook,
.login .form .btn-google {
    color: #fff;
    border-color: rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out
}

.login .form .btn-google {
    background-color: #dd4b39
}

.login .form .btn-social>:first-child {
    border-left: 1px solid rgba(0, 0, 0, .2);
    bottom: 0;
    font-size: 14px;
    right: 0;
    line-height: 33px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px
}

.login h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #fd1a51
}

.login p.main {
    text-align: center;
    margin: auto auto 15px;
    max-width: 400px
}

.login p.main a {
    display: block;
    color: #14bffb;
    text-decoration: underline
}

.login #accordion {
    margin-top: 10px
}

.custom-control {
    padding-right: 1.5rem;
    padding-left: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px
}

.custom-control:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.custom-control img {
    width: 50px
}

.custom-control .custom-control-label {
    display: flex;
    align-items: center;
    font-weight: 400
}

.custom-control .custom-control-label p {
    margin-right: 10px;
    color: #777
}

.custom-control .custom-control-label p span {
    margin-right: 3px
}

.custom-control .custom-control-label:after,
.custom-control .custom-control-label:before {
    right: -1.5rem;
    left: auto;
    top: 15px
}

.dropdown.drop-flag {
    margin: 0
}

.dropdown.drop-flag dd,
.dropdown.drop-flag dt,
.dropdown.drop-flag ul {
    margin: 0;
    padding: 0
}

.dropdown.drop-flag dd {
    position: relative
}

.dropdown.drop-flag dt a {
    background: #fafafa url(../../images/aad.png) no-repeat scroll 0;
    display: block;
    padding-left: 20px;
    border: 1px solid #ced4da;
    width: 100px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.dropdown.drop-flag dt a span {
    cursor: pointer;
    display: block;
    padding: 5px
}

.dropdown.drop-flag dd ul {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ced4da;
    color: #777;
    display: none;
    right: 0;
    position: absolute;
    width: auto;
    min-width: 170px;
    list-style: none;
    top: 0;
    border-top: 0;
    z-index: 999
}

.dropdown.drop-flag dd ul li {
    border-bottom: 1px solid #ced4da
}

.dropdown.drop-flag dd ul li:last-of-type {
    border: 0
}

.dropdown.drop-flag span.value {
    display: none
}

.dropdown.drop-flag dd ul li a {
    padding: 5px;
    display: block;
    cursor: pointer
}

.dropdown.drop-flag img.flag {
    border: none;
    vertical-align: middle;
    margin-right: 10px
}

.flagvisibility {
    display: none
}

.hidden-area {
    opacity: 1;
    transition: all .3s ease-in-out;
    display: block
}

.hidden-area.hidden {
    opacity: 0;
    display: none
}

.num.d-flex select {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: 1px solid #ced4da;
    color: #777
}

.num.d-flex input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.contact {
    padding: 60px 30px
}

.contact .contact-cont {
    display: flex;
    max-width: 900px;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee
}

@media screen and (max-width:767px) {
    .contact .contact-cont {
        flex-direction: column
    }
}

.contact .contact-cont .form.contact-form {
    width: 50%;
    padding: 30px 40px;
    background: #fbfbfb
}

@media screen and (max-width:767px) {
    .contact .contact-cont .form.contact-form {
        width: 100%
    }
}

.contact .contact-cont .form.contact-form label {
    font-weight: 700;
    margin-bottom: 3px
}

.contact .contact-cont .form.contact-form input,
.contact .contact-cont .form.contact-form textarea {
    font-size: 14px
}

.contact .contact-cont .form.contact-form textarea {
    height: 100px
}

.contact .contact-cont .form.contact-form button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 120px
}

.contact .contact-cont .img-over {
    width: 50%;
    background: url(../../images/blog-post-img-4-415x330.jpg);
    background-size: cover;
    position: relative
}

@media screen and (max-width:767px) {
    .contact .contact-cont .img-over {
        width: 100%;
        height: 400px
    }
}

.contact .contact-cont .img-over:before {
    right: 0;
    left: 0;
    background-image: url(../../images/dot.png);
    background-color: #333;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .5
}

.details-cont {
    background: #fff;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee
}

.details-cont .img-slider img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 10px
}

@media screen and (max-width:992px) {
    .details-cont .img-slider img {
        height: 300px
    }
}

.details-cont video {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 10px
}

@media screen and (max-width:1200px) {
    .details-cont video {
        height: auto
    }
}

.details-cont .video-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px
}

@media screen and (max-width:992px) {
    .details-cont .video-title {
        flex-direction: column
    }
}

.details-cont .video-title h4 {
    font-weight: 700;
    margin-bottom: 17px;
    color: #565656;
    width: 100%
}

@media screen and (max-width:992px) {
    .details-cont .video-title .info {
        margin-bottom: 10px
    }
}

.details-cont .video-title .info span {
    color: #777;
    margin-left: 13px;
    display: inline-block
}

@media screen and (max-width:992px) {
    .details-cont .video-title .info span {
        margin-left: 8px
    }
}

.details-cont .video-title .info span i {
    margin-left: 7px;
    font-size: 13px;
    color: #fd1a51
}

@media screen and (max-width:992px) {
    .details-cont .video-title .info span i {
        margin-left: 4px
    }
}

.details-cont .video-title span {
    color: #777;
    margin-left: 13px;
    display: inline-block
}

.details-cont .video-title .rating i {
    font-size: 12px;
    color: #bbb
}

.details-cont .video-title .rating i.filled {
    color: #daa520
}

.details-cont .video-title .nd-row {
    text-align: center
}

.details-cont .video-title .nd-row span {
    display: block;
    margin-left: 0 !important;
    margin-bottom: 5px
}

.details-cont .video-title .nd-row span .rating {
    display: inline-block
}

.details-cont .video-title .nd-row span:first-of-type {
    background: #fd1a51;
    padding: 2px 7px;
    border: 1px solid #fd1a51;
    transition: all .3s ease-in-out
}

.details-cont .video-title .nd-row span:first-of-type button {
    background: transparent;
    border: 0;
    color: #fff
}

.details-cont .video-title .nd-row span:first-of-type button i {
    margin-left: 7px
}

.details-cont .video-title .nd-row span:first-of-type:hover {
    background: #fff
}

.details-cont .video-title .nd-row span:first-of-type:hover button {
    color: #fd1a51
}

.details-cont .video-desc {
    color: #777;
    line-height: 26px;
    font-size: 15px
}

.replay-comments {
    background: #fff;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
    margin-top: 20px
}

.replay-comments h5 {
    margin-bottom: 15px
}

.replay-comments .comment {
    background: #fbfbfb;
    padding: 15px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px
}

.replay-comments .comment .rating {
    margin: -3px 0
}

.replay-comments .comment img {
    float: right;
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top
}

.replay-comments .comment h6 {
    padding-top: 3px;
    color: #14bffb;
    margin-bottom: 0
}

.replay-comments .comment p {
    max-width: 800px;
    color: #777;
    margin-top: 13px;
    line-height: 23px;
    font-size: 14px
}

.replay-comments .comment .comment-date {
    margin-top: 0 !important;
    color: #8e8e8e !important
}

.replay-comments .comment.user-comment {
    background: #fefefe
}

.replay-comments .comment.user-comment h6 {
    color: #fd1a51
}

.replay-form {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px
}

.replay-form label {
    margin-left: 10px
}

.replay-form input,
.replay-form textarea {
    font-size: 14px;
    background: #fafafa
}

.replay-form textarea {
    height: 85px
}

.replay-form button {
    width: 150px
}

.profile-cont .cont-title {
    color: #fd1a51;
    margin-bottom: 20px
}

.profile-cont .form input,
.profile-cont .form select,
.profile-cont .form textarea {
    background: #fafafa;
    font-size: 14px;
    border: 1px solid #ced4da
}

.nav-pills .nav-link {
    background: #fff;
    box-shadow: 0 0 5px #eee;
    border: 1px solid #eee
}

.block-btn-center {
    display: block;
    margin: 25px auto auto
}

.block-btn-center i {
    font-size: 14px
}

ul.profile-list li {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    justify-content: space-between
}

ul.profile-list li label {
    color: #565656;
    font-size: 15px;
    padding: 0;
    margin: 0
}

ul.profile-list li span {
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #777
}

.bb {
    border: 1px solid #eee;
    padding: 20px 15px;
    box-shadow: 0 0 5px #eee
}

.bb,
.bb h5 {
    text-align: center
}

.bb .bundle-info h6 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px
}

.bb .bundle-info ul li {
    color: #777;
    font-size: 15px;
    display: flex;
    justify-content: center
}

.bb .bundle-info ul li span {
    margin: 0 0 0 5px
}

.bb .bundle-info ul li span.price {
    margin-left: 4px;
    color: #14bffb
}

.bb button {
    margin-top: 11px
}

.sidebar .user-sidebar {
    padding: 20px 0 0
}

.sidebar .user-sidebar img {
    margin-bottom: 10px
}

.sidebar .user-sidebar p.name {
    text-align: center;
    font-size: 16px;
    color: #fd1a51;
    font-weight: 700
}

.sidebar .user-sidebar p.email {
    text-align: center;
    color: #777;
    margin-bottom: 20px
}

.sidebar .user-sidebar .side-nav {
    padding: 0
}

.sidebar .user-sidebar .side-nav li {
    padding: 0;
    margin: 0
}

.sidebar .user-sidebar .side-nav li a {
    width: 100%;
    display: block;
    padding: 12px 15px;
    color: #565656;
    transition: all .3s ease-in-out
}

.sidebar .user-sidebar .side-nav li a i {
    margin-left: 8px;
    background: #565656;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 13px
}

.sidebar .user-sidebar .side-nav li a.active,
.sidebar .user-sidebar .side-nav li a:hover {
    color: #fd1a51;
    background: #fffafb
}

.sidebar .user-sidebar .side-nav li a.active i,
.sidebar .user-sidebar .side-nav li a:hover i {
    background: #fd1a51
}

.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative
}

.progress * {
    margin-top: 0 !important
}

.progress:after {
    content: "";
    width: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    left: 0
}

.progress:after,
.progress>span {
    height: 100%;
    position: absolute;
    top: 0
}

.progress>span {
    width: 50%;
    overflow: hidden;
    z-index: 1
}

.progress .progress-value {
    color: #14bffb;
    margin-top: 10px !important
}

.progress .progress-value span {
    margin-top: 14px !important
}

.progress .progress-left {
    left: 0
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
    top: 0;
    border: 7px solid #fd1a51
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    transform-origin: center left
}

.progress .progress-right {
    right: 0
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    transform-origin: center right
}

.progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
    width: 100%
}

.progress .progress-value div {
    margin-top: 10px
}

.progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase
}

.progress[data-percentage="10"] .progress-right .progress-bar {
    -webkit-animation: loading-1 1.5s linear forwards;
    animation: loading-1 1.5s linear forwards
}

.progress[data-percentage="10"] .progress-left .progress-bar {
    -webkit-animation: 0;
    animation: 0
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    -webkit-animation: loading-2 1.5s linear forwards;
    animation: loading-2 1.5s linear forwards
}

.progress[data-percentage="20"] .progress-left .progress-bar {
    -webkit-animation: 0;
    animation: 0
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    -webkit-animation: loading-3 1.5s linear forwards;
    animation: loading-3 1.5s linear forwards
}

.progress[data-percentage="30"] .progress-left .progress-bar {
    -webkit-animation: 0;
    animation: 0
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    -webkit-animation: loading-4 1.5s linear forwards;
    animation: loading-4 1.5s linear forwards
}

.progress[data-percentage="40"] .progress-left .progress-bar {
    -webkit-animation: 0;
    animation: 0
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    -webkit-animation: loading-5 1.5s linear forwards;
    animation: loading-5 1.5s linear forwards
}

.progress[data-percentage="50"] .progress-left .progress-bar {
    -webkit-animation: 0;
    animation: 0
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    -webkit-animation: loading-5 1.5s linear forwards;
    animation: loading-5 1.5s linear forwards
}

.progress[data-percentage="60"] .progress-left .progress-bar {
    -webkit-animation: loading-1 1.5s linear 1.5s forwards;
    animation: loading-1 1.5s linear 1.5s forwards
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    -webkit-animation: loading-5 1.5s linear forwards;
    animation: loading-5 1.5s linear forwards
}

.progress[data-percentage="70"] .progress-left .progress-bar {
    -webkit-animation: loading-2 1.5s linear 1.5s forwards;
    animation: loading-2 1.5s linear 1.5s forwards
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    -webkit-animation: loading-5 1.5s linear forwards;
    animation: loading-5 1.5s linear forwards
}

.progress[data-percentage="80"] .progress-left .progress-bar {
    -webkit-animation: loading-3 1.5s linear 1.5s forwards;
    animation: loading-3 1.5s linear 1.5s forwards
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    -webkit-animation: loading-5 1.5s linear forwards;
    animation: loading-5 1.5s linear forwards
}

.progress[data-percentage="90"] .progress-left .progress-bar {
    -webkit-animation: loading-4 1.5s linear 1.5s forwards;
    animation: loading-4 1.5s linear 1.5s forwards
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    -webkit-animation: loading-5 1.5s linear forwards;
    animation: loading-5 1.5s linear forwards
}

.progress[data-percentage="100"] .progress-left .progress-bar {
    -webkit-animation: loading-5 1.5s linear 1.5s forwards;
    animation: loading-5 1.5s linear 1.5s forwards
}

@-webkit-keyframes loading-1 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(36deg)
    }
}

@keyframes loading-1 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(36deg)
    }
}

@-webkit-keyframes loading-2 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(72deg)
    }
}

@keyframes loading-2 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(72deg)
    }
}

@-webkit-keyframes loading-3 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(108deg)
    }
}

@keyframes loading-3 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(108deg)
    }
}

@-webkit-keyframes loading-4 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(144deg)
    }
}

@keyframes loading-4 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(144deg)
    }
}

@-webkit-keyframes loading-5 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}

@keyframes loading-5 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}

.progress {
    margin-bottom: 1em
}

.navbar ul.navbar-nav li.nav-item div.dropdown ul.dropdown-menu li a {
    display: flex;
    align-content: center
}

.navbar ul.navbar-nav li.nav-item div.dropdown ul.dropdown-menu li a img {
    width: 21px;
    margin-left: 5px
}

.navbar ul.navbar-nav li.nav-item div.dropdown ul.dropdown-menu li ul.sub-dropdown li a {
    display: flex;
    align-content: center
}

.navbar ul.navbar-nav li.nav-item div.dropdown ul.dropdown-menu li ul.sub-dropdown li a img {
    width: 21px;
    margin-left: 5px
}